@font-face {
    src: url(assets/hk-grotesk/HKGrotesk-Regular.otf);
    font-family: HKGrotesk;
}

.pt-md-11 {
    padding-top: 96px!important;
}

.pt-md-4 {
    padding: 96px 0px;
}

.pt-md-2 {
    padding: 48px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

[class^="col-"]>img {
    max-width: 130%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-2 {
    width: 16.66%;
}

.col-5 {
    width: 41.67%;
}

.display-3 {
    color: #161C2D;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 48px;
    font-family: HKGrotesk;
    line-height: 1.2;
}

.display-4 {
    color: #869AB8;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 48px;
    font-family: HKGrotesk;
}

.display-5 {
    color: #161C2D;
    font-size: 21px;
    font-family: HKGrotesk;
    margin-top: 0px;
    margin-bottom: 8px;
}

.display-7 {
    color: #869AB8;
    font-size: 17px;
    font-family: HKGrotesk;
}

.display-1 {
    color: #161C2D;
    font-size: 31px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: HKGrotesk;
}

.icon {
    display: block;
    color: #335EEA;
    font-size: 17px;
    margin-bottom: 12px;
    font-family: HKGrotesk;
}

.card {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.062);
    border-radius: 0.375rem;
    transform: translateY(5px);
    transition: all 0.25s;
}

.card:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.171);
    background-color: #fff;
    transform: translateY(0px);
    transition: all 0.25s;
}

.card-body {
    background-color: #fff;
    position: relative;
    min-height: 1px;
    display: block;
    font-size: 17px;
    padding: 32px;
    font-family: HKGrotesk;
    color: #161C2D;
}

.form-label-item {
    margin-bottom: 1rem;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
}

input[type=text] {
    width: 100%;
    height: calc(1.6em + 1.625rem + 2px);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px 0px;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f1f4f8;
}

input[type=text]:focus {
    border-bottom: 1px solid #335eea7a;
}

label {
    color: #869ab8;
    position: absolute;
    transform: translate(-400%, 15px);
}