@font-face {
    src: url(assets/hk-grotesk/HKGrotesk-Regular.otf);
    font-family: HKGrotesk;
}

@media (min-width: 768px) {
    .ml-5 .mb-md-8:last-child {
        margin-bottom: 0;
    }
}

.py-md-11 {
    padding: 96px 0;
}

.pt-md-12 {
    padding-top: 96px!important;
}

.pt-md-10 {
    padding-top: 96px!important;
}

.pt-md-11 {
    padding-top: 96px!important;
}

.pt-md-5 {
    padding-top: 128px;
}

.pt-md-13 {
    padding-top: 160px;
}

.pt-md-4 {
    padding: 96px 0px;
}

.pt-md-2 {
    padding: 48px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

[class^="col-"]>img {
    max-width: 130%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-5 {
    width: 41.67%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

.content-center {
    justify-content: center;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-right: .75rem;
}

.bg-gray-200 {
    background-color: #f1f4f8!important;
}

.footer-col {
    margin-left: 0;
}

.footer-pad {
    padding-bottom: 0px;
}

.list-inline-item {
    display: inline-block;
}

.btn-bottom {
    padding: 13px 20px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background-color: #335eea;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.25s;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
}

.text-center {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 31px;
    text-align: center;
    font-weight: 100;
    color: #161C2D;
    font-family: 'Roboto', sans-serif;
}

.text-center-p {
    color: #869AB8;
    margin-bottom: 64px;
    margin-top: 0;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.text-center-d {
    color: #869AB8;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.text-muted {
    color: #869ab8!important;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.font-size-lg {
    font-size: 19px;
}

.lift {
    display: inline;
}

.display-3 {
    color: #161C2D;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 100;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.display-4 {
    color: #869AB8;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 48px;
    font-family: 'Roboto', sans-serif;
}

.display-5 {
    color: #161C2D;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}

.display-7 {
    color: #869AB8;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.display-1 {
    color: #161C2D;
    font-size: 31px;
    margin-top: 0px;
    font-weight: 100;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.display-6 {
    color: #161C2D;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.display-2 {
    color: #869AB8;
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.display-8 {
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: 100;
    margin-top: 0;
}

.badge-gray-700-soft {
    background-color: rgba(80, 102, 144, .1);
    color: #506690;
    padding: .25rem .75rem;
    font-size: 12px;
}

.mb-md-8 {
    margin-bottom: 48px;
}

.icon {
    display: block;
    color: #335EEA;
    font-size: 17px;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
}

.card-btn {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.062);
    border-radius: 0.375rem;
    transform: translateY(5px);
    transition: all 0.25s;
}

.card {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.062);
    border-radius: 0.375rem;
    transform: translateY(5px);
    transition: all 0.25s;
}

.card:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.171);
    background-color: #fff;
    transform: translateY(0px);
    transition: all 0.25s;
}

.card-row {
    width: 100%;
    height: 100%;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.062);
    border-radius: 0.375rem;
}

.card-body {
    background-color: #fff;
    position: relative;
    min-height: 1px;
    display: block;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    font-size: 17px;
    padding: 32px;
    font-family: 'Roboto', sans-serif;
    color: #161C2D;
}

.form-label-item {
    margin-bottom: 1rem;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
}

.labelInput {
    color: #869ab8;
    font-size: 18px;
    position: absolute;
    transform: translateY(-40px);
}

input[type=password] {
    width: 100%;
    height: calc(1.6em + 1.625rem + 2px);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px 0px;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f1f4f8;
    display: block;
}

input[type=text] {
    width: 100%;
    height: calc(1.6em + 1.625rem + 2px);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px 0px;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f1f4f8;
    display: block;
}

input[type=email] {
    width: 100%;
    height: calc(1.6em + 1.625rem + 2px);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px 0px;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f1f4f8;
    display: block;
}

input[type=password]:focus {
    border-bottom: 1px solid #335eea7a;
}

input[type=text]:focus {
    border-bottom: 1px solid #335eea7a;
}

input[type=email]:focus {
    border-bottom: 1px solid #335eea7a;
}

.text-mg {
    margin-bottom: 0px;
}

.mt-6 {
    margin-top: 2rem!important;
}

.btn-success {
    padding: 13px 20px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 0.375rem;
    background-color: #42BA96;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.25s;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-success:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    background-color: #198f6b;
    transform: translateY(-3px);
    transition: transform 0.25s;
}

.text-success {
    color: #42BA96;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.footer-ma {
    margin-bottom: 0px;
}

.ml-5 {
    margin-left: 24px;
    display: block;
}

.bg-dark {
    background-color: #1b2a4e!important;
}

.ml-4 {
    margin-left: 1rem!important;
}

.md-5 {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    color: #161C2D;
    text-align: center;
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-flex {
    display: flex;
}

.badge-rounded-circle {
    height: calc(1em + 1.8em);
    padding: 0.9em 1.15em;
    border-radius: 10rem;
    text-align: center;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
}

.badge-success {
    color: #fff;
    background-color: #42ba96;
}

.card-body span {
    display: block;
    text-align: center;
    color: #869AB8;
    font-size: 12px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.img-trans {
    border-radius: 0.625rem;
    box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, .1), 16px 40px 75px -40px rgba(0, 0, 0, .2);
    transform: rotateY(-5deg) rotateZ(3deg);
    transform-style: preserve-3d;
    width: 122%;
}

.text-about {
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 100;
}

.mt-2 {
    margin-top: .5rem!important;
}

.pr-5,
.px-5 {
    padding-right: 1.5rem!important;
}

.pl-5,
.px-5 {
    padding-left: 1.5rem!important;
}

.border-gray-300 {
    border-color: #d9e2ef!important;
}

.border-left {
    border-left: 1px solid #f1f4f8!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    justify-content: center!important;
    margin-bottom: 64px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    transform: translateY(0);
    margin: 0 12px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.itemSlider {
    width: 920px;
    height: 400px;
    display: inline-block;
}

#slider {
    width: 4000px;
    height: 395.3px;
    display: flex;
    overflow: hidden;
    position: absolute;
    transition: 0.6s;
    left: -920px;
}

.border-slider {
    width: 920px;
    height: 395.3px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .text-center {
        font-size: 24px;
    }
    .text-center-p {
        font-size: 17px;
    }
    .itemSlider {
        width: 700px;
        height: 371px;
        display: inline-block;
    }
    #slider {
        width: 4000px;
        height: 371px;
        display: flex;
        overflow: hidden;
        position: absolute;
        transition: 0.6s;
        left: -700px;
    }
    .border-slider {
        width: 700px;
        height: 371px;
        overflow: hidden;
        position: relative;
    }
    .img-slide {
        height: 371px;
    }
}

@media (max-width: 768.1px) {
    .itemSlider {
        width: 520px;
        height: 714px;
        display: inline-block;
    }
    #slider {
        width: 4000px;
        height: 714px;
        display: flex;
        overflow: hidden;
        position: absolute;
        transition: 0.6s;
        left: -540px;
    }
    .border-slider {
        width: 520px;
        height: 714px;
        overflow: hidden;
        position: relative;
        transform: translateX(20px);
    }
}

img {
    vertical-align: middle;
}

.h3,
h3 {
    line-height: 1.4;
    font-size: 21px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 40px;
    user-select: none;
    border: none;
    background-color: #335eea;
    transform: translateX(-8px);
    outline: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    transform: translateX(8px);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.h2 {
    letter-spacing: -.01em;
    line-height: 1.35;
}

.align-self-end {
    align-self: flex-end!important;
}

.footer-header {
    display: block;
    padding-top: 0;
    padding-bottom: .5rem;
    font-size: .75rem;
    font-weight: 100;
    line-height: 1.55;
    text-transform: uppercase;
    letter-spacing: .08em;
    margin-bottom: 0px;
    color: #506690;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.footer-item {
    width: auto;
    min-width: 100%;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
    display: block;
    padding: 0 1.75rem;
    clear: both;
    font-weight: 100;
    color: #869AB8;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

.img-slide {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card-format {
    padding: 0;
    transform: translateX(-10px);
    z-index: 0;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 992px) {
    .display-3 {
        font-size: 36px;
    }
    .display-1 {
        font-size: 24px;
    }
    .pt-md-12>.row>.col-6:last-child {
        width: 40%;
    }
    .pt-md-12>.row>.col-6:first-child {
        width: 60%;
    }
    .pt-md-11 .row .col-6 .row .col-6 {
        width: 100%;
    }
    .pt-md-11 .row .col-5 {
        width: 50%;
    }
    .display-4 {
        margin-bottom: 32px;
    }
    .display-8 {
        font-size: 32px;
    }
    .footer-col {
        margin-left: auto;
    }
    .footer-pad {
        padding-bottom: 50px;
    }
    .col-2 {
        width: 33.33%;
    }
    .col-3 {
        width: 33.33%;
    }
    .text-mg {
        margin-bottom: 16px;
    }
    .img-slide {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .pt-md-12>.row>.col-6:last-child {
        width: 100%;
    }
    .pt-md-12>.row>.col-6:first-child {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .pt-md-11 .row .col-5 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .text-success {
        margin-top: 16px;
    }
    [class^="col-"]>img {
        max-width: 100%;
        margin-bottom: 32px;
    }
    .img-trans {
        width: 85%;
    }
    .pt-md-12>.row,
    .pt-md-11>.row,
    .pt-md-13>.row {
        flex-direction: column-reverse;
    }
    .pt-md-12 .row .col-6 {
        text-align: center;
    }
    .pt-md-12 .row .col-6 .display-3 {
        text-align: center;
    }
    .pt-md-11 .row .col-6 .row {
        margin-bottom: 26px;
    }
    .pt-md-5 .row .col-12 .row .card-format {
        transform: translateX(0px);
        margin-top: 30px;
    }
    .col-3 {
        width: 100%;
    }
    .col-2 {
        width: 50%;
    }
    .footer-ma {
        margin-bottom: 32px;
    }
    .prev,
    .next {
        bottom: 10%;
    }
    .img-slide {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0px;
    }
}

@media (max-width: 500px) {
    .col-2 {
        width: 50%;
    }
    [class^="col-"]>img {
        max-width: 100%;
    }
    .img-trans {
        width: 85%;
    }
    .col-3 {
        width: 100%;
    }
}