@font-face {
    src: url(assets/hk-grotesk/HKGrotesk-Regular.otf);
    font-family: HKGrotesk;
}

.pt-md-11 {
    padding-top: 96px!important;
}

.pt-md-5 {
    padding-top: 128px;
}

.pt-md-4 {
    padding: 96px 0px;
}

.pt-md-2 {
    padding: 48px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

[class^="col-"]>img {
    max-width: 130%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-2 {
    width: 16.66%;
}

.col-5 {
    width: 41.67%;
}

.col-8 {
    width: 66.66%;
}

.content-center {
    justify-content: center;
}

.display-3 {
    color: #161C2D;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 100;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.display-4 {
    color: #869AB8;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 48px;
    font-family: 'Roboto', sans-serif;
}

.display-5 {
    color: #161C2D;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}

.display-7 {
    color: #869AB8;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.display-1 {
    color: #161C2D;
    font-size: 31px;
    margin-top: 0px;
    font-weight: 100;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.display-6 {
    color: #161C2D;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.display-2 {
    color: #869AB8;
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.icon {
    display: block;
    color: #335EEA;
    font-size: 17px;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.062);
    border-radius: 0.375rem;
    transform: translateY(5px);
    transition: all 0.25s;
}

.card:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.171);
    background-color: #fff;
    transform: translateY(0px);
    transition: all 0.25s;
}

.card-body {
    background-color: #fff;
    position: relative;
    min-height: 1px;
    display: block;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    font-size: 17px;
    padding: 32px;
    font-family: 'Roboto', sans-serif;
    color: #161C2D;
}

.form-label-item {
    margin-bottom: 1rem;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
}

input[type=text] {
    width: 100%;
    height: calc(1.6em + 1.625rem + 2px);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px 0px;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f1f4f8;
    display: block;
}

input[type=text]:focus {
    border-bottom: 1px solid #335eea7a;
}

label {
    color: #869ab8;
    position: absolute;
    transform: translate(0, -40px);
}

.mt-6 {
    margin-top: 2rem!important;
}

.btn-success {
    padding: 13px 20px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 0.375rem;
    background-color: #42BA96;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.25s;
    width: 100%;
    cursor: pointer;
    border: none;
}

.btn-success:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    background-color: #198f6b;
    transform: translateY(-3px);
    transition: transform 0.25s;
}

.text-success {
    color: #42BA96;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.ml-5 {
    margin-left: 24px;
    display: block;
}

.d-flex {
    display: flex;
}

.img-trans {
    border-radius: 0.625rem;
    box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, .1), 16px 40px 75px -40px rgba(0, 0, 0, .2);
    transform: rotateY(-5deg) rotateZ(3deg);
    transform-style: preserve-3d;
}

@media (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-2 {
        width: 33.33%;
    }
    .col-5 {
        width: 100%;
    }
    .text-success {
        margin-top: 16px;
    }
    [class^="col-"]>img {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .col-2 {
        width: 50%;
    }
    [class^="col-"]>img {
        max-width: 100%;
    }
}