@font-face {
    font-family: HKGrotesk;
    src: url(../assets/hk-grotesk/HKGrotesk-Regular.otf);
}

body {
    margin: 0;
    display: block;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

#navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .15rem;
    padding-bottom: .15rem;
    margin-right: 0;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
}

.container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 560px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-box-direction: normal;
}

.navbar-toggler {
    margin-left: auto;
    color: #506690;
    border-color: transparent;
    padding: .25rem .75rem;
    font-size: 1.1875rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    display: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23506690' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    background-size: 100% 100%;
}

.navbar-toggler:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.navbar-item {
    color: #506690;
    padding: 13px 24px;
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.0625rem;
    font-family: 'Roboto', sans-serif;
}

.navbar-item:hover {
    color: #335eea;
    text-decoration: none;
}

.btn {
    padding: 9px 16px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    box-shadow: none;
    margin-left: auto;
    vertical-align: middle;
    border-radius: 0.375rem;
    background-color: #335eea;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.25s;
}

.btn:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    background-color: #2652e4;
    transform: translateY(-3px);
    transition: transform 0.25s;
}

.btn-grey {
    padding: 13px 20px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    box-shadow: none;
    margin-left: auto;
    vertical-align: middle;
    border-radius: 0.375rem;
    background-color: rgba(51, 94, 234, .1);
    color: #335eea;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.25s;
}

.btn-grey:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    background-color: rgba(51, 94, 234, 0.199);
    transform: translateY(-3px);
    transition: transform 0.25s;
}

.btn-white {
    align-self: center;
    padding: 13px 20px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 0.375rem;
    background-color: #fff;
    color: #335eea;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shadow-dark {
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15)!important;
}

.btn-sm {
    padding: .5625rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
    display: inline;
}

.navbar-nav {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    z-index: 1;
}

.dropdown-menu-xl {
    min-width: 42rem;
    z-index: 1000;
}

.dropdown-menu-md {
    min-width: 22rem;
}

.dropdown-menu-lg {
    min-width: 35rem;
    padding: 2.375rem 2.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.p-0 {
    padding: 0!important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
}

.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.no-gutters>.col-lg-6 {
    min-height: 100%;
}

.navbar-nav .dropdown-img-left {
    height: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: no-repeat center center/cover;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.navbar-nav .dropdown-img-left .dropdown-img-left {
    height: 100%;
    width: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.625rem 1.75rem;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    background-color: rgba(0, 0, 255, 0.75);
}

.dropdown-header {
    display: block;
    padding-top: 0;
    padding-bottom: .5rem;
    font-size: .75rem;
    font-weight: 100;
    line-height: 1.55;
    text-transform: uppercase;
    letter-spacing: .08em;
    margin-bottom: 0px;
    color: #335eea;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.dropdown-menu-xl .dropdown-header {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-nav .dropdown-img-left * {
    position: relative;
}

.dropdown-item {
    width: auto;
    min-width: 100%;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
    display: block;
    padding: 0 1.75rem;
    clear: both;
    font-weight: 100;
    color: #506690;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 7.2px;
}

.dropright {
    position: relative;
}

.dropright .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    top: -1.625rem;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    z-index: 1000;
    margin: 0 0 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22, 28, 45, .15);
    border-radius: .375rem;
    box-sizing: border-box;
    display: block;
    opacity: 0;
    visibility: hidden;
    min-width: 14rem;
    transform: translateY(10px);
    transition: transform 0.2s;
}

.dropdown-menu {
    padding: 26px 28px;
}

.dropdown-link {
    color: inherit;
}

.dropdown-toggle {
    white-space: nowrap;
    display: block;
}

.list-group {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-flush {
    border-radius: 0;
}

.list-group-flush .list-group-item:first-child {
    padding-top: 0!important;
    border-top: 0;
}

.list-group-flush .list-group-item:last-child {
    padding-bottom: 0!important;
    border-bottom: 0;
}

.navbar-nav .dropdown-menu .list-group-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: inherit;
}

.list-group-flush .list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 1px;
}

.list-group-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #f1f4f8;
}

.navbar-nav .dropdown-menu .list-group-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 1rem;
    color: inherit;
}

.icon-s {
    align-items: center;
}

.h6.text-uppercase,
h6.text-uppercase {
    letter-spacing: .08em;
    font-size: 12px;
}

.h6,
h6 {
    font-size: .75rem;
}

.h6,
h6 {
    line-height: 1.55;
    margin-top: 0;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-primary {
    color: #335eea!important;
    font-family: 'Roboto', sans-serif;
}

.dropdown>.dropdown-menu {
    left: 50%;
    transform: translate(-50%, 29px);
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
    top: 100%;
    z-index: 1000;
    margin: 0 0 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22, 28, 45, .15);
    border-radius: .375rem;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.dropdown:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 9px);
    transition: transform 0.5s;
}

.dropdown-item:hover>.dropdown-menu {
    transform: translateY(0);
    transition: transform 0.5s;
    opacity: 1;
    visibility: visible;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown-img-left {
        display: flex;
    }
    .navbar-nav .dropdown-menu-lg .dropdown-body,
    .navbar-nav .dropdown-menu-xl .dropdown-body {
        padding: 2.375rem 2.5rem;
    }
}

.text-white {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.font-weight-bold {
    font-weight: 100!important;
}

.text-gray-700 {
    color: #506690!important;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.font-size-sm {
    font-size: 15px!important;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.badge-primary-soft {
    background-color: rgba(51, 94, 234, .1);
    color: #335eea;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.mx-3 {
    margin-left: 12px;
    margin-right: 12px;
}

.badge {
    display: inline-block;
    padding: .25rem .75rem;
    font-size: 75%;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .375rem;
}

.badge-pill {
    padding-right: .75rem;
    padding-left: .75rem;
    border-radius: 10rem;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-2 {
    margin-bottom: 8px;
}

h4 {
    line-height: 1.45;
    font-size: 19px;
    letter-spacing: -.01em;
    margin-top: 0;
}

.font-size-m {
    margin: 0px;
    font-size: 19px;
}

.font-size-sm {
    font-size: .9375rem!important;
}

.font-size-s {
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.5rem!important;
}

@media (max-width: 992px) {
    .collapse {
        display: none;
        opacity: 0;
    }
    .navbar-toggler {
        display: block;
    }
}